body{margin:20px auto;
max-width:650px;
background-color:#282a37;
color:#1aa42a;
padding:0 10px;
font-family: 'Noto Sans', "droid-sans", "Roboto",  sans-serif;
}
h1,h2,h3{
font-family: 'Noto Sans', "droid-sans", "Roboto",  sans-serif;
color:#2c1;
}
h4,h5,h6{
font-family: 'Noto Sans', "droid-sans", "Roboto",  sans-serif;
color:#1aa43a;
}
a{color:#fff9}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  color: #2c1;
  text-align: center;
}
.footer_img{
float: left;  
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
picture {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li a {
  color: #fff7;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}
a#titlelink{
  text-decoration: none;
  color: #2c2;
  font-family: 'Noto Sans', "droid-sans", "Roboto",  sans-serif;
  font-weight: 700;
  font-size: 40px;
}
